[submodule "msg"]
	path = msg
	url = https://github.com/mikilukasik/msg
[submodule "chss-module-logger"]
	path = chss-module-logger
	url = ../chss-module-logger/
[submodule "chss-module-engine"]
	path = chss-module-engine
	url = ../chss-module-engine
