.guestContainer {
  background-color: #fff;
  padding: 20px;
  box-shadow: 1px 4px 7px #aaa;
	display: grid;
	text-align: center;
	margin-top: -1vh;
}

.guestContainer .header {
	padding: 20px;
	font-size: 24px;
	line-height: 3vh;
	font-weight: 400;
	color: navy;
}

.guestContainer .disclaimer {
	font-size: 15px;
	line-height: 20px;
	color: #333;
	padding: 15px 15vw;
}

.guestContainer .guestForm {
	font-weight: 600;
	font-size: 17px;
	line-height: 3vh;
	color: #333;
	padding: 10px 10vw;
}

.guestContainer .guestForm input {
	margin: 15px;
}

.guestContainer .guestForm button {
	background: rgba(0,0,0,0.2);
	text-decoration: none;
	color: navy;
	border: none;
	line-height: 4vh;
	width: 100px;
	font-size: 100%;
	padding: 4px 13px;
	margin-top: 30px;
}

.guestContainer .guestForm button:disabled {
	color: white;
}
