.movePagerContainer {
  width: 91vw;
  text-align: center;
  padding-top: 5px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

@media (min-width: 650px) {
  .movePagerContainer {
    width: 66vh;
  }
}

@media (min-width: 1000px) {
  .movePagerContainer {
    width: 88vh;
  }
}

.movePagerButton {
  position: relative;
  margin: 2px;
}


.replayMoveNumber {
  display: inline-block;
  margin: 2px;
  font-weight: 500;
  width: 40px
}

.newGameFromHereButton {
  float: right;
  white-space: nowrap;
}

.newGameFromHereButton:disabled {
  visibility: hidden;
}
