.appContainer {
  display: grid;
  grid-template-rows: 6vh 93vh;
  grid-gap: 1vh;
}


body {
  background-color: #cabea8;
  touch-action: manipulation;
  color: #fae2bf;

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
