.darker {
  background-color: #bb815f;
}

.square {
  background-color: #f9e2bf;
}

.selected2 {
  -webkit-animation: fadeIt 2s ease-in-out;
  -moz-animation: fadeIt 2s ease-in-out;
  -o-animation: fadeIt 2s ease-in-out;
  animation: fadeIt 2s ease-in-out;
}

.selected {
  background-color: rgba(255,153,0,0.75);
}

.boardContainer {
  background-color: #fff;
  padding: 10px;
  box-shadow: 0px 0px 5px #aaa;
  display: grid;
  grid-template-rows: repeat(8, 2vh);
  grid-area: board;
  font-size: 0.6rem;
}

.boardRow {
  display: grid;
  grid-template-columns: repeat(8, 2vh);
  img {
    max-width:100%;
    max-height:100%;
  }
}

.boardHeadingCellWrapper {
  display: table;
  height: 100%;
  overflow: hidden;
}

.boardHeadingCell {
  vertical-align: middle;
  text-align: center;
  display: table-cell;
  background-color: #efd2af;
  padding-top: 4px;
}

.boardLabel {
  text-align: center;
  padding-top: 7px;
  margin-bottom: -2px;
  font-size: 0.7rem;
  font-weight: 500;
}